@import "tailwindcss";

/* Dòng này để ép trình duyệt luôn hiển thị nền sáng, tránh Dark mode làm đen màn hình */
body {
  background-color: #f3f4f6; 
  margin: 0;
  transition: background-color 0.25s ease;
}

.app-light {
  background-color: #f3f4f6;
  color: #0f172a;
}

.app-dark {
  background-color: #0f172a;
  color: #e2e8f0;
}